# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
dist/
*.spec
*.dmg
*.zip

# User caches & local configs
.picun_f8_cache.json
*.log
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Virtual environments
env/
venv/
.venv/
ENV/

# IDE & Editor
.vscode/
.idea/
*.swp
*~
